<div class="subscription"> 
  <h1>SUBSCRIPTION INFORMATION</h1></hr>

  <div class="subscription__table"> 
    <div class="subscription__headers"> 
      <b> EMAIL </b> 
      <b> PLAN </b>
    </div>

    <% @subscriptions.map do |subscription| %>
      <div class="subscription__details"> 
        <p> <%= subscription.email %>  </p> 
        <p> <%= subscription.plan.name  %> </p> 
      </div> 
    <% end %>

    <div class="subscription__pagination"> 
      <%= paginate @subscriptions %>
    </div>
  </div>
</div>

