/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// colors
$white: #FFFFFF;
$grey:  #A2A0A3;
$black:#0B0A0C; 
$yellow: #FD9E11;

//Media Queries
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;


body {
  background: $black;
  font-family: Lato, Helvetica, Roboto, sans-serif;
  display: flex;
  color: $white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  @media screen and (min-width: $container-md) {
    padding: 2%;
    font-size: 1rem;
    align-items: flex-start;
    justify-content: left;
  }
}

.subscription {
  width: 100%;
  padding: 1em;

  h1 {
    color: $grey;
  }

  &__headers {
    color: $yellow;
    display: flex;
    flex-direction: column;

    b {
      margin-bottom: 5px;
    }

    @media screen and (min-width: $container-md) {
      flex-direction: row;

      b {
        width: 50%;
      }

      b:not(:first-child) {
        margin-left: 1em;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    
    @media screen and (min-width: $container-md) {
      flex-direction: row;

      p {
        width: 50%;
      }

      p:not(:first-child) {
        margin-left: 1em;
      }
    }
  }

  &__pagination {
    margin-left: 18%;
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: $yellow;
  border: 1px solid $yellow;
  border-radius: 0 0.5em;
  border-left-width: 0;
}

.pagination {
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}
